{#
    @shelf-version: 1.0.0
    Cookiebar template

    cookiebarText: 'string',
    cookieVersion: 'sstring'
    cookieSettingUrl: 'string'
    cookieDocumentLink: 'string'
#}
{% from  '@dd_cookiebar/button.twig' import button %}
<div class="c-cookie-bar" js-hook-cookies-bar data-version="{{ cookieVersion ? cookieVersion : '1.0' }}">

  <div class="cookie-bar__content">

    <div class="cookiebar__text">
      {% if cookiebarText %}
          {{ cookiebarText }}
      {% else %}
          {{'Cookie content here, <a href="@cookieDocumentLink" title="cookies" target="_blank">Read more</a>'|t({'@cookieDocumentLink' : cookieDocumentLink}) }}
      {% endif %}
    </div>


    <div class="cookie-bar__button-holder">
        {{ button( {
            label: 'Change cookie settings'|t,
            url: cookieSettingUrl,
            class: 'cookie-bar__button',
            size: 'small',
            hook: 'cookies-settings-button'
        } ) }}

        {{ button( {
            element: 'button',
            type: 'button',
            variant: 'primary',
            label: 'I agree'|t,
            class: 'cookie-bar__button',
            attr: 'on:click="cookies::dismiss"',
            size: 'small',
            hook: 'cookies-dismiss'
        } ) }}
    </div>

  </div>

</div>